*{
    font-family: 'Bree Serif', arial;
    /* background-color: red; */
    background-color: rgb(186, 183, 183);
}
.red-demo{
    color: red;
}
.hadding-1 h1{
    font-weight: 800;
    font-size: 50px;

}
.damo-red{
    color: red;
}